
@using Humanizer
@model BlueOnion.ViewModel.ViewModelNonGenericBase
<div class="col-sm-6 pull-left">
    <form class="navbar-form" style="margin: 20px -15px 0 0; padding-left: 0;">
        <span class="h3">@Model.Title.Humanize(LetterCasing.Title)</span>
    </form>
</div>



